@mixin recentered-section {
    width: 90%;
    margin: auto;
}

@mixin sm-screen-section {
    width: 100%;
    margin: 0;
}

@mixin menu-expand-transition {
    transform-origin: left;
    transition: transform 1000ms ease-in-out;
}

@mixin no-desktop {
    @media screen and (max-width: 992px) {
        @content;
    }
}