@use "sass:math";

$clr-bg: #FFFFF3;
$clr-text: #153131;
$clr-dark: #373872;
$clr-light: #BABBDE;
$clr-bg-hover: rgba(55, 56, 114, .5);

$header-width: 15%;
$main-width: 100% - $header-width;

$project-card-height: 500px;
$project-card-margin: 19px;
$project-card-margin-half: math.div($project-card-margin, 2);
$num-projects: 10;
$project-card-anim-time: 1500ms;
$project-card-anim-delay: 100ms;