@use "sass:math";

$clr-bg: #FFFFF3;
$clr-text: #153131;
$clr-text-light: #378181;
$clr-dark: #CAA8F5;
$clr-light: #F3EDFD;
$clr-filter: rgba(202, 168, 245, .5);
$clr-error: #BA274A;

$header-width: 15%;
$main-width: 100% - $header-width;

$logo-size: 100px;
$logo-size-mobile: 70px;

$num-services: 3;

$project-card-height: 500px;
$project-card-margin: 19px;
$project-card-margin-half: math.div($project-card-margin, 2);
$num-projects: 10;
$project-card-anim-time: 1500ms;
$project-card-anim-delay: 100ms;

$timeline-dot-size: 30px;
$timeline-dot-margin: 20px;
$timeline-bar-offset: -($timeline-dot-margin + math.div($timeline-dot-size, 2));
$timeline-bloc-padding: 30px;