.btn {
    background-color: $clr-light;
    color: $clr-bg;
    border: none;
    padding: .5rem;
    margin-top: 1rem;
    box-shadow: 1px 1px 3px $clr-light;
    position: relative;
    z-index: 1;
    &::after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: $clr-dark;
        box-shadow: 1px 1px 4px $clr-dark;
        z-index: -1;
        opacity: 0;
        transition: opacity 200ms ease-in-out;
    }
    &:hover {
        cursor: pointer;
        &::after {
            opacity: 1;
        }
    }
}