.link {
    color: $clr-text;
    text-decoration: none;
    position: relative;
    &::after {
        content: '';
        z-index: -1;
        position: absolute;
        left: 0;
        bottom: -5px;
        width: 100%;
        height: 15px;
        background-color: $clr-light;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 200ms ease-in-out;
    }
    &:hover {
        &::after {
            transform: scaleX(1);
        }
    }
    &.active {
        &::after {
            transform: scaleX(1);
        }
    }
    &--header {
        &::after {
            bottom: 0;
        }
    }
    &--footer {
        color: $clr-text;
    }
}