.link {
    color: $clr-text;
    text-decoration: none;
    position: relative;
    display: block;
    width: max-content;
    @include no-desktop {
        color: $clr-dark;
    }
    &::after {
        content: '';
        display: block;
        z-index: -1;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 15px;
        background-color: $clr-light;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 200ms ease-in-out;
    }
    &:hover {
        &::after {
            transform: scaleX(1);
        }
    }
    &.active {
        color: $clr-dark;
        &::after {
            transform: scaleX(1);
        }
    }
    &--upper {
        color: $clr-text;
        text-decoration: none;
        letter-spacing: .2em;
        font-size: .8em;
        &:hover {
            color: $clr-dark;
        }
        &.active {
            color: $clr-dark;
        }
    }
}