* {
    box-sizing: border-box;
}

.body {
    background-color: $clr-bg;
    color: $clr-text;
    display: flex;
    flex-flow: row wrap;
    max-width: 100%;
    overflow-x: hidden!important;
    @include no-desktop {
        flex-flow: row nowrap;
    }
}

.header {
    width: $header-width;
    height: 100vh;
    @include no-desktop {
        min-width: 100%;
        height: auto;
        order: 2;
    }
}

.main {
    width: $main-width;
    padding: 3rem;
    @include menu-expand-transition;
    transform: translateX(0);
    @include no-desktop {
        min-width: 100%;
        order: 1;
        transform-origin: right;
        overflow-x: hidden;
        margin-top: 6rem;
        margin-bottom: 150px;
        padding: 0;
    }
    &.menu-expanded {
        transform: translateX(100%);
        @include no-desktop {
            transform: translateX(-100%);
        }
    }
}

.footer {
    width: $main-width;
    margin-left: $header-width;
}