* {
    box-sizing: border-box;
}

.body {
    background-color: $clr-bg;
    color: $clr-text;
    display: flex;
    flex-flow: row wrap;
    overflow-x: hidden;
}

.header {
    width: $header-width;
    height: 100vh;
}

.main {
    width: $main-width;
    padding: 3rem;
    @include menu-expand-transition;
    transform: translateX(0);
    &.menu-expanded {
        transform: translateX(100%);
    }
}

.footer {
    width: $main-width;
    margin-left: $header-width;
}