.contact {
    @include recentered-section;
    margin-top: 5rem;
    margin-bottom: 5rem;
    display: flex;
    animation: fade-in-up-keyframes $project-card-anim-time ease-out both;
    &__title {
        animation: fade-in-up-keyframes $project-card-anim-time ease-out both;
    }
    &__text {
        width: 50%;
        padding-right: 6rem;
        h2 {
            margin-top: 0;
            margin-bottom: 3rem;
            line-height: 1.5;
        }
    }
    &__form {
        width: 50%;
    }
}