.home {
    &__title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @include recentered-section;
        text-align: center;
        margin-top: 3rem;
        margin-bottom: 2rem;
        animation: fade-in-up-keyframes $project-card-anim-time ease-in-out both;
        @include no-desktop {
            @include sm-screen-section;
            margin-top: 2rem;
        }
    }
    &__img {
        width: 100%;
        height: 400px;
        animation: fade-in-up-keyframes $project-card-anim-time ease-in-out both;
        @include no-desktop {
            height: 200px;
            margin-top: 3rem;
        }
        &__pic {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__services {
        @include recentered-section;
        text-align: center;
        margin-bottom: 3rem;
        animation: fade-in-up-keyframes $project-card-anim-time ease-in-out both;
        @include no-desktop {
            @include sm-screen-section;
        }
        &__list {
            display: flex;
            list-style: none;
            justify-content: space-between;
            margin-top: 2rem;
            padding: 0;
            @include no-desktop {
                flex-direction: column;
                margin-top: 1rem;
            }
        }
    }
}