.mainNav {
    width: 100vw;
    transform: translateX(-100%);
    @include menu-expand-transition;
    @include no-desktop {
        transform: translateX(0);
        transform-origin: right;
        margin-top: 100px;
    }
    &.expanded {
        transform: translateX(60%);
        @include no-desktop {
            transform: translateX(-100%);
        }
    }
    &__nav {
        display: flex;
        flex-direction: column;
        list-style: none;
        &__item {
            margin-bottom: 2rem;
        }
    }
}