@use "sass:math";

.projectGrid {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 75%;
    margin: auto;
    margin-top: 50px;
    @include no-desktop {
        width: 100%;
        margin-top: 0;
    }
    &__double {
        width: 49%;
        height: $project-card-height;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: $project-card-margin;
        @include no-desktop {
            @include recentered-section;
            margin-bottom: $project-card-margin;
        }
    }
}

.projectCard {
    position: relative;
    animation: fade-in-up-keyframes $project-card-anim-time ease-in-out both;
    @for $i from 1 through $num-projects {
        &--#{$i} {
            animation-delay: $project-card-anim-delay * $i;
            @if ($i%4 == 0) {
                width: 100%;
                height: math.div($project-card-height, 2);
                margin-bottom: $project-card-margin;
                @include no-desktop {
                    @include recentered-section;
                    margin-bottom: $project-card-margin;
                }
            } @else if (($i == 2) or ($i == 3) or ($i == 5) or ($i == 6) or ($i == 10)) {
                width: 100%;
                height: math.div($project-card-height, 2) - $project-card-margin-half;
            } @else {
                width: 49%;
                height: $project-card-height;
                margin-bottom: $project-card-margin;
                @include no-desktop {
                    @include recentered-section;
                    margin-bottom: $project-card-margin;
                    height: math.div($project-card-height, 2);
                }
            }
        }
    }
    &__card {
        width: 100%;
        height: 100%;
        &__img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            filter: grayscale(100%);
            transition: filter 200ms ease-in-out;
            &.img--hovered {
                filter: grayscale(0);
            }
            &.no-filter {
                filter: grayscale(0);
            }
        }    
    }
    &__hover {
        opacity: 0;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        transition: opacity 200ms ease-in-out;
        &__title {
            color: $clr-bg;
            border: solid 3px $clr-dark;
            background-color: $clr-dark;
            padding: .5rem;
        }
        &:hover {
            opacity: 1;

        }
    }
    &--singleProject {
        width: 32%;
        animation: none;
        height: 250px;
        @include no-desktop {
            width: 100%;
            margin-bottom: $project-card-margin;
            height: 200px;
        }
    }
}