.project {
    width: 90%;
    margin: auto;
    animation: fade-in-up-keyframes $project-card-anim-time*1.5 ease-out both;
    margin-bottom: 5rem;
    &__video {
        margin-top: 5rem;
        margin-bottom: 5rem;
    }
    &__description {
        display: flex;
        &__text {
            width: 50%;
            padding-right: 6rem;
            &__title {
                margin-top: 0;
                margin-bottom: 2rem;
            }
            &__taxs {
                display: flex;
                list-style: none;
                padding: 0;
                margin-top: 0;
                margin-bottom: 1.5rem;
                &__item {
                    margin-right: 1rem;
                }
            }
        }
        &__sound {
            width: 50%;
        }
    }
    &__more {
        margin-top: 5rem;
        &__title {
            text-align: center;
            margin-top: 0;
            margin-bottom: 2rem;
        }
        &__grid {
            display: flex;
            justify-content: space-between;
            margin-top: 3rem;
        }
    }
}